.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: #70757a;
  padding: 16px;
  margin: 30px auto;
  max-width: 85%;
}
.Weather h1 {
  color: #4f4f4f;
  font-size: 35px;
  margin: 20px 0 0 26px;
}

.Weather img {
  margin-left: 20px;
  margin-bottom: 15px;
}

.Weather .temperature {
  color: #4f4f4f;
  margin-left: 6px;
  font-size: 46px;
  font-weight: 400;
}
.Weather .unit {
  position: relative;
  top: -22px;
  font-weight: 500;
}

li {
  list-style: none;
  line-height: 20px;
  font-size: 16px;
}
.Weather .weather-info {
  margin-top: 37px;
}
